body {
	background: url(../img/associationbg.jpg);
}

.head_pic{
    width: 100px;
    height: 100px;
	margin-top: 40px;
	border-radius: 70%;
}

table,tr,td.event {
	background-color: rgba(200,200,200,0.6); 
	font-size: 14px; 
	padding: 0px; 
	width: 90%; 
	height: 60px;
	text-align: left; 
	margin: auto; 
	margin-top: 16px;
	table-layout: fixed;
	word-break: break-all; 
	word-wrap: break-word; 
}

td.eventleft {
	background-image: url(../img/eventph.jpg);
	padding: 60px; 
	background-size:cover;
}

.head_asso{
	font-size: 1.625rem;
}

.head_mesg{
	font-size: 1.375rem;
}